# ========================
# Virtual environment
# ========================
venv/

# ========================
# Dataset & metadata
# ========================
data/IDC_regular_ps50_idx5/
data/metadata/

# ========================
# Results / outputs
# ========================
results/

# ========================
# Python cache
# ========================
__pycache__/
*.pyc
*.pyo
*.pyd

# ========================
# Jupyter
# ========================
.ipynb_checkpoints/

# ========================
# OS / IDE
# ========================
.DS_Store
Thumbs.db
.vscode/
